---
import { Image } from 'astro:assets';

interface Props {
  imageUrl: string;
  alt: string;
  title?: string;
  subtitle?: string;
}

const { imageUrl, alt, title, subtitle } = Astro.props;
const {slug} = Astro.params;
---

<div  class="relative w-full overflow-hidden h-[50vh] sm:h-[60vh] lg:h-[55vh] rounded-lg ">
  <div transition:name={`img-hero-${slug}`} class="relative w-full overflow-hidden h-[50vh] sm:h-[60vh] lg:h-[55vh] rounded-lg">
    <Image
    
    src={imageUrl}
    alt={alt}
    width={1920}
    height={1080}
    class="object-cover w-full h-full"
  />
  <div class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent"></div>
</div>
  <div class="absolute inset-0 flex flex-col justify-end p-6 sm:p-10 lg:p-16">
    {title && (
      <h1  class="text-2xl sm:text-3xl lg:text-4xl xl:text-5xl font-bold text-white mb-2 sm:mb-4">
        <span class="text-red-600" transition:name={`title-hero-${slug}`}> {title} </span>
      </h1>
    )}
    {subtitle && (
      <p class="text-base sm:text-lg lg:text-xl xl:text-2xl text-white/80">
        <span class="text-red-600" transition:name={`subtitle-hero-${slug}`}>{subtitle}</span>
      </p>
    )}
  </div>
</div>