---
import { getCldImageUrl } from 'astro-cloudinary/helpers';
import {CldImage} from 'astro-cloudinary';
import { Image } from 'astro:assets';

interface Props{
    prod: {name: string,
    slug: string,
    description: string,
    price: number,
    stock: number,
    gallery: string[],
    active: boolean,
    featured: boolean}
}
const url = getCldImageUrl({src: "nassos_60559c0108"})
const { prod } = Astro.props;
---
<a class="flex flex-row gap-6 justify-between" href={prod.slug} target="_self">
    <!-- <Image
        src={url}
        alt="alt image"
        width={720}
        height={720}
        widths={[120,240,360]}
        sizes={"(max-width: 768px) 1vw, 5wv"}
    /> -->
    <div class="rounded-lg shadow-2xl overflow-hidden w-60 md:w-32  aspect-square ">
    <CldImage
        src="413-600x600_kagwap"
        width={128}
        height={128}
        alt="alt image"
        sizes={"(min-width 768px) 128px, 256px"}
        />
    

    </div>
    <!-- <img loading="eager" src={url} class="w-60 aspect-square object-cover rounded-md md:w-32" />     -->
    <div class="flex flex-col justify-center">
        <span>{prod.name} : {prod.price}</span>
        <label for="descripcion"> Descripcion:</label>
        <p class="w-full"  id="descripcion"> {prod.description}</p>
        
    </div>
</a>
<button class="border-2 border-red-900 flex ml-auto mr-4 mb-4 px-4 py-2"> add to cart</button>