---
import { CldImage } from 'astro-cloudinary';
import { getCldImageUrl } from 'astro-cloudinary/helpers';
interface Props{
    prod: {name: string,
    slug: string,
    description: string,
    price: number,
    stock: number,
    gallery: string[],
    active: boolean,
    featured: boolean}
}
const url = getCldImageUrl({src: "2020_03_04_11_38_56_UTC_1_29cd0b0ad6"})
const { prod } = Astro.props;
---
<a class="flex flex-row gap-6 justify-start" href={prod.slug} target="_self">
    <CldImage   
        src='2020_03_04_11_38_56_UTC_1_29cd0b0ad6' 
        height={1000}
        width={1000}
        crop="auto"
        alt="foto alteernativa"
        sizes={"(max-width: 768px) 50vw, 5vw"}
        rawTransformations={['q_auto',  'f_auto']} 
        />
    <!-- <img loading="eager" src={url} class="w-60 aspect-square object-cover rounded-md md:w-32" />     -->
    <div class="flex flex-col justify-center">
        <span>{prod.name} : {prod.price}</span>
        <label for="descripcion"> Descripcion:</label>
        <p class="w-full"  id="descripcion"> {prod.description}</p>
        
    </div>
</a>
<button class="border-2 border-red-900 flex ml-auto mr-4 mb-4 px-4 py-2"> add to cart</button>